<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>student Web Application</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav>
        <div class="logo-container">
            <img th:src="@{/images/croussards-logo.png}" alt="Logo Croussards">
        </div>
        <h1>Croussards </h1>
        <ul>
            <li><a th:href="@{/}">Accueil</a></li>
            <li><a th:href="@{/login}">Connexion</a></li>
            <li><a th:href="@{/students}">Etudiants</a></li>
            <li><a th:href="@{/restaurants}">Restaurants</a></li>
        </ul>
        <div class="brand-container">
            <img th:src="@{/images/Logo-up.svg}" alt="Logo Croussards">
        </div>
    </nav>
</header>

<main class="container">

    <div class="login-container">
        <h2>INSCRIPTION</h2>

        <form th:action="@{/register}" th:object="${student}" method="POST">

            <div class="input-group">
                <label for="firstName">PRÉNOM</label>
                <input type="text" id="firstName" th:field="*{firstName}" placeholder="Votre prénom" required>
            </div>

            <div class="input-group">
                <label for="lastName">NOM</label>
                <input type="text" id="lastName" th:field="*{lastName}" placeholder="Votre nom" required>
            </div>

            <div class="input-group">
                <label for="username">NOM D'UTILISATEUR</label>
                <input type="text" id="username" th:field="*{username}" placeholder="Pseudo unique" required>
            </div>

            <div class="input-group">
                <label for="mail">MAIL</label>
                <input type="email" id="mail" th:field="*{mail}" placeholder="votre@email.com" required>
            </div>

            <div class="input-group">
                <label for="pwdHash">MOT DE PASSE</label>
                <input type="password" id="pwdHash" th:field="*{pwdHash}" placeholder="••••••••" required>
            </div>

            <button type="submit">S'INSCRIRE</button>
        </form>

        <p>
            Déjà un compte ?
            <a th:href="@{/login}">Connectez-vous ici</a>
        </p>

    </div>

</main>

<footer>
    <p>&copy; 2025 Équipe Croussards (Basile DUFRENE-Evan RIBOULEAU-Stephane CASTAN) - L3 Informatique</p>
</footer>

<script th:src="@{/js/main.js}"></script>

</body>
</html>
