:root {
    --couleur-primaire: #C0392B; 
    --couleur-secondaire: #E74C3C; 
    --couleur-fond: #F4F6F6;    
    --couleur-texte: #333333;    
    --couleur-blanc: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 0 20px;
}

header {
    background-color: var(--couleur-primaire);
    color: var(--couleur-blanc);
    padding: 20px ; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav-logo {
    width: 80px;        
    height: 80px;       
    border-radius: 50%; 
    margin-left: 100px; 
}
.brand-container img {
    width: 150px;      
    height: auto;     
    margin-left: 15px;
    background-color: white; 
}

.header-left {
    display:flex;
    align-items: center; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

nav h1 {
    font-size: 1.8em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: var(--couleur-blanc);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--couleur-secondaire); 
}

h2 {
    color: var(--couleur-primaire); 
    font-size: 2em;
}

footer {
    background-color: var(--couleur-texte);
    color: var(--couleur-fond);
    text-align: center;
    padding: 15px 0;
    margin-top: auto; 
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.logo-container img {
    width: 80px;        
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 50px;
}